.blogPage {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #fc2f71, #ff5664);
}

.blogPage .innerBlog {
  width: 60%;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogPage .innerBlog .cardBox {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.blogPage .innerBlog .cardBox .box {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px;
}

.blogPage .innerBlog .cardBox .para {
  width: calc(100% - 100px);
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.blogPage .innerBlog .cardBox .para p,
.blogPage .innerBlog .cardBox .para h3 {
  margin: 5px;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .blogPage .innerBlog{
    width: 80%;
    margin: 10px;
  }
  .blogPage .innerBlog .cardBox {
    width: 100%;
  }
}
